body {
  font-family: Arial, sans-serif;
  background: #09002f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background: rgb(123, 172, 236);
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  font-weight: bold;
  color: #444;
}

input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #000306;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #86b2f4 0%, #26155f 50%, #86b2f4 100%);
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}

p {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}
